.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  max-width: 1270px;
  padding: 0px 15px;
  margin: 0 auto;
}

.constructor-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}